* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(0, 100, 65);
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-width: 100%;
}

.form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  padding: 30px;
  position: relative;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.484);
  opacity: 0;
  visibility: hidden;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}

.form-title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form * {
  outline: none;
}

.form-item {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.form-input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}
.form-input::-webkit-input-placeholder {
  color: rgb(187, 178, 178);
}
.form-input::-moz-placeholder {
  color: rgb(187, 178, 178);
}
.form-input:-ms-input-placeholder {
  color: rgb(187, 178, 178);
}
.form-input::-ms-input-placeholder {
  color: rgb(187, 178, 178);
}
.form-input::placeholder {
  color: rgb(187, 178, 178);
}
.form-input:focus {
  -webkit-box-shadow: 0 0 15px rgb(0, 0, 0);
          box-shadow: 0 0 15px rgb(0, 0, 0);
}
.form-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.form-input:focus::-moz-placeholder {
  color: transparent;
}
.form-input:focus:-ms-input-placeholder {
  color: transparent;
}
.form-input:focus::-ms-input-placeholder {
  color: transparent;
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-input.error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

textarea.form-input {
  min-height: 120px;
  resize: vertical;
  padding: 10px;
}

.options-item {
  margin-bottom: 10px;
}

.options-input {
  display: none;
}
.options-input:checked + label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.optins-label {
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.optins-label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.optins-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: rgb(1, 56, 43);
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}

.file-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(1, 49, 84);
  padding: 0 20px;
}

.file-preview {
  display: inline-block;
  width: 100px;
  padding-top: 10px;
}
.file-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.checkbox.error .checkbox-label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox-input {
  display: none;
}
.checkbox-input:checked + label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox-label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  width: 100px;
}
.checkbox-label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
.checkbox-label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgb(1, 66, 77);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.form-button {
  min-width: 100px;
  letter-spacing: 2px;
  height: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: darkgreen;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.202);
          box-shadow: 0 5px 0 rgba(0, 0, 0, 0.202);
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.form-button:hover {
  background-color: rgb(164, 164, 164);
}
.form-button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.202);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.202);
}

.required-text {
  padding: 10px;
  text-shadow: 0 2px 0 rgba(60, 0, 0, 0.722);
  display: inline-block;
}